on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: |
          sudo apt-get update
          sudo apt-get -y install unzip libtool-bin curl cmake gperf gawk flex bison nano xxd fakeroot kmod cpio git python3-docutils gettext automake autopoint texinfo build-essential help2man pkg-config zlib1g-dev libgmp3-dev libmpfr-dev libncurses5-dev libltdl-dev wget libc-dev-bin
      - name: build
        run: |
          mkdir /opt/bin
          #git clone --depth=1 https://github.com/felix-fly/padavan.git /opt/rt-n56u
          git clone --depth=1 https://github.com/felix-fly/rt-n56u.git /opt/rt-n56u
          cd /opt/rt-n56u/toolchain-mipsel
          sh dl_toolchain.sh
          cd /opt/rt-n56u/trunk

          # remove the dnsmasq cache size config
          sed -i 's/fprintf(fp, "cache-size=%d\\n", DNS_RELAY_CACHE_MAX);/\/\/fprintf(fp, "cache-size=%d\\n", DNS_RELAY_CACHE_MAX);/' user/rc/services_ex.c

          # build-in smartdns
          sed -i '$a\export SSL_CERT_FILE=/usr/lib/cacert.pem' user/scripts/profile
          # remove ui
          sed -i 's/found_app_smartdns = 1/found_app_smartdns = 0/' user/httpd/web_ex.c

          # k2p
          wget https://raw.githubusercontent.com/felix-fly/v2ray-padavan-doh/master/k2p.config -O configs/templates/K2P.config
          fakeroot ./build_firmware_modify K2P
          mv /opt/rt-n56u/trunk/images/*.trx /opt/bin/k2p.trx

          # jdc
          sed -i 's/size_etc="6M"/size_etc="16M"/' user/scripts/dev_init.sh
          fakeroot ./build_firmware_modify JDC-1
          mv /opt/rt-n56u/trunk/images/*.trx /opt/bin/jdc.trx
      - name: Upload artifact
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.UPLOAD_KEY }}"
          prerelease: false
          files: |
            /opt/bin/*.trx
